[Unit]
Description=Waggle Create Node ID Service
After=syslog.service network-online.target
Wants=syslog.service network-online.target
ConditionPathExists=!/etc/waggle/node-id

[Service]
ExecStart=/usr/bin/waggle_nodeid.py
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=default.target
